<mat-card>

    <h2 class="alinear">Listado De Mascotas</h2>
    <mat-card-header>

        <div>
            <mat-form-field hintLabel="Busque una mascota" appearance="fill">
                
                <mat-label>Buscar Mascotas</mat-label>
                <input matInput #input>
            </mat-form-field>
        </div>
    </mat-card-header>

    <mat-card-header>

        <div>
            <ul>
                <li>
                    <button mat-raised-button color="primary">Agregar Medicinas</button>
                </li>
            </ul>
        </div>

    </mat-card-header>


</mat-card>
